#form123 {
  width: 500px !important;
}

.img-fluid {
  height: 300px;
}

.col-sm-4 {
  border: none !important;
  margin: 10px 0;
}

.card-body {
  border: 1px solid rgb(153, 151, 151) !important;
  border-radius: 20px;
}
